.header {
    padding: var(--small) var(--medium);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerName {
    height: auto;
    display: flex;
    align-items: center;
}

.headerName > img {
    border: 1px solid;
    width: 6.25rem;
    margin-right: var(--medium);
}

.headerName > h1 {
    margin: 0;
    font-weight: 400;
}

.header > span {
    font-size: calc(var(--fs-small) - 0.125rem);
    color: var(--color-grey);
}