.inputText {
    width: 100%;
    padding: var(--small);
    font-size: var(--fs-small);
    margin-top: 0.4rem;
    margin-bottom: var(--big);
    box-sizing: border-box;
    border: 1px solid var(--color-black);
    outline: none;
}

.inputText:focus {
    border: 1px solid var(--color-poppy);
}

.label {
    font-weight: 400;
    font-size: var(--fs-small);
    line-height: var(--fs-small);
}